html {
    box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
}

main {
    text-align: center;
}

main form .js-query {
    height: 30px;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}

main form p {
    margin: 5px auto;
}

main form p button {
    width: 100px;
    height: 30px;
    background-color: #ffe96A;
    box-shadow: 5px 5px 10px #cccccc;
    border-radius: 20px;
}

main div ul li {
    width: 25%;
    display: inline-block;
    list-style: none;
    margin: 10px;
    padding: 20px;
    text-align: center;
    vertical-align: top;
}

@media only screen and (max-width: 640px) {
    main div ul li {
        width: 100%;
        display: block;
    }
}
